<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c%= title %</title>
</head>

<body>
    <h1> about us</h1>
    <p> this is about page of our express app</p>
    <a href="/"> back to home</a>
</body>

</html>