<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak kami</title>
    <p> Ini adalah kontak kami</p>
</head>

<body>
    <form method="POST" action="/kontak"> <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="pesan">Pesan:</label>
        <textarea id="pesan" name="pesan" required></textarea>
        <br>
        <button type="submit">Kirim</button>
    </form>
</body>

</html>